<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css" integrity="sha512-wnea99uKIC3TJF7v4eKk4Y+lMz2Mklv18+r4na2Gn1abDRPPOeef95xTzdwGD9e6zXJBteMIhZ1+68QC5byJZw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/app.css">
    <title>Real time Pizza</title>
</head>
<body>
    <nav class="container mx-auto flex items-center justify-between py-4">
        <div>
            <img src="/img/logo.png" alt="logo">
        </div>
        <div>
            <ul class="flex items-center class="ml-6"">
                
                <li class="ml-6"><a href="#">Menu</a> </li>
                <li class="ml-6"><a href="#">Offers</a> </li>
                <li class="ml-6"><a href="/register">Register</a> </li>
                <li class="ml-6"><a href="/login">Login</a> </li>
                <li class="ml-6"><a href="#" class="inline-block px-4 py-2 rounded-full"><img src="/img/cart.png" alt=""></a> </li>


             
            </ul>
        </div>
    </nav>
    <%- body %> 
    <script src="/js/app.js"></script>
</body>
</html>